<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WaWision Journal</title>

<link href="styles/grid.css" rel="stylesheet" type="text/css" />
<link href="styles/style.css" rel="stylesheet" type="text/css" />

<!--[if IE 6]>
<style type="text/css">
.box li {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/menue_arrow.png', sizingMethod='scale');
}
</style>
<![endif]-->

</head>

<body>

    <div class="container_6">
    
    	<div id="header" class="grid_6">
            <div class="grid_4 prefix_1 alpha">
                    <div id="topNav">
                    	<ul>
                            <li><a href="index.php">Online-Shop</a></li>
                            <li><a href="index.php?page_id=134">Open-Source Projekte</a></li>
                            <li><a href="index.php?module=bestellen&action=warenkorb">Warenkorb</a></li>
                            <li><a href="index.php?module=bestellen&action=guest">Kasse</a></li>
                            <li><a href="index.php?module=content&action=show&page=kontakt">Kontakt</a></li>  
                          </ul>
                    </div>
            </div>
            <!-- end topnav -->
             <div class="grid_4 prefix_1 omega">
            	<img src="images/embedded_projects_Journal.jpg" width="392" height="87" />
			</div>
            <!-- end logo -->
		</div>
		<!-- end header -->
		<div class="clear"></div>
        
		<div class="grid_1">
            <p></p>
		</div>
		<!-- end NAV -->
        
        <div class="grid_4">
           <div class="grid_1 alpha box bgJournal">
                <H1>Open-Source-Zeitschrift</H1>  
                <ul>
                  <li><a href="">Einzelhefte</a></li>
                  <li><a href="">Konzept</a></li>
                  <li><a href="">Leser werden</a></li>
                  <li><a href="">Autor werden</a></li>
                  <li><a href="">Sponsor werden</a></li>
                  <li><a href="">Registrieren / Login</a></li> 
                </ul>
            </div>
            <div class="grid_3 omega box"><img src="images/dummy_grid3.jpg" width="580" height="188" class="borderGrey" /></div>
            <div class="clear"></div>
            
            <div id="bodyText" class="grid_2 alpha">
            	<H1>Der Countdown läuft!</H1>
                <div class="shortText">Das Angebot gilt als Bonus für jeden Studenten an deutschen Hochschulen (ausgenommen sind Gaststudenten und alle 
anderen Ausbildungseinrichtungen). Der Bonus kann genau <a href="">einmal pro Artikel</a> eingesetzt werden. Aus diesem Grund kann man jeden Artikel auch nur einmal in den Warenkorb legen. Wird der gleiche Artikel später nochmals bestellt und vom System eine Doppelbestellung festgestellt, wird der Teilnehmer vollständig für das Atmel Hochschulprogramm gesperrt werden.</div>
				<p>Die Atmel AVR Mikrocontroller sind in vielerlei Hinsicht ideal für Projekte.</p>

                  <p><strong>Hochinteressante Lernplattform</strong><br />
                  Die AVR 8 und AVR 32 bit Mikrocontroller und die AVR Tools unterstützen eine hochinteressante Lehrplattform. Die leicht zu bedienenden und programmierbaren AVR Mikrocontroller ermöglichen ein problemloses Lernen.</p>
                  

            </div>
            <div class="grid_2 omega"> 
                <div id="claim" class="grid_1 alpha box bgJournal"><table height="100%"><tr><td valign="middle">ATMEL Produkte für Studenten bis zu 50% billiger!</td></tr></table> </div>
            	<div class="grid_1 omega box"><img src="images/dummy2_grid1.jpg" width="188" height="188" class="borderGrey" /></div>
                <div class="clear"></div> 
                
                <div class="grid_1 alpha box"><img src="images/dummy_grid1.jpg" width="188" height="188" class="borderGrey" /></div>
            	<div class="grid_1 omega box bgJournal">
                <H1>Freie Dienste</H1>  
                <ul>
                  <li><a href="">Firmendatenbank</a></li>
                  <li><a href="">Stellenmarkt</a></li>
                  <li><a href="">Flohmarkt</a></li>
                </ul>
            </div>
            <div class="clear"></div>               
            </div>
            <div class="clear"></div>
            
            <div id="bodyText" class="grid_3 alpha">
            
                         
                <form action="" method="POST" name="registerform">
                    <h1>Registrierung</h1><br />

                    
                    <table>
                      <tr><td>Firmenname:</td><td><input type="text" name="firmenname" size="40" value="" class="inputField long"/></td></tr>
                
                      <tr><td class="error">Vollst&auml;ndiger Name: *</td><td><input type="text" name="name" size="40" value="" class="error long"/></td></tr>
                      <tr><td class="error">Stra&szlig;e: *</td><td><input type="text" name="strasse" size="40" value="" class="error long"/></td></tr>
                      <tr><td>Adresszusatz:</td><td><input type="text" name="adresszusatz" size="40" value="" class="inputField long"> </td></tr>
                      <tr><td class="error">Plz. / Ort: *</td><td><input type="text" name="plz" size="4" value="" class="error small"/>
                                                    &nbsp;<input type="text" name="ort" size="29" value="" class="error medium"/></td></tr>
                
                      <tr><td class="error">Land: *</td><td><select name="land" class="inputField long"><option value="BE">Belgien</option>
                <option value="BG">Bulgarien</option>
                <option value="DK">D&auml;nemark</option>
                <option value="DE" selected>Deutschland</option>
                <option value="EE">Estland</option>
                <option value="FI">Finnland</option>
                <option value="FR">Frankreich</option>
                
                <option value="GR">Griechenland</option>
                <option value="UK">Großbritannien</option>
                <option value="GB">Großbritannien (UK)</option>
                <option value="IE">Irland</option>
                <option value="IT">Italien</option>
                <option value="LV">Lettland</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Litauen</option>
                <option value="LU">Luxemburg</option>
                
                <option value="MT">Malta</option>
                <option value="NL">Niederlande</option>
                <option value="NO">Norwegen</option>
                <option value="AT">&Ouml;sterreich</option>
                <option value="PL">Polen</option>
                <option value="PT">Portugal</option>
                <option value="RO">Rum&auml;nien</option>
                <option value="SE">Schweden</option>
                
                <option value="CH">Schweiz</option>
                <option value="SK">Slowakei -slowakische Republik-</option>
                <option value="SI">Slowenien</option>
                <option value="ES">Spanien</option>
                <option value="CZ">Tschechische Republik</option>
                <option value="HU">Ungarn</option>
                <option value="CY">Zypern</option>
                </select></td></tr>
                      <tr><td>Telefon:</td><td><input type="text" name="telefon" size="40" value="" class="inputField long"/></td></tr>
                
                      <tr><td class="error">E-Mail:*</td><td><input type="text" name="email" size="40" value="" class="error long"></td></tr>
                      <tr><td>Webseite:</td><td><input type="text" name="url" size="40" value="" class="inputField long"></td></tr>
                      <tr><td>Newsletter:</td><td><input type="checkbox" name="newsletter" value="1" /></td></tr>
                      <!--<tr><td>elektronische Ausgabe:</td><td><input type="checkbox" name="pdf" value="1" /></td></tr>
                      <tr><td>Journal in Papierform:</td><td><input type="checkbox" name="journal" value="1" /></td></tr>
                      <tr><td colspan="2">Sie werden beim ersten Login zu unserem Abo-Bestellassistenten weitergeleitet.</td></tr> -->
                      <tr><td>&nbsp;</td><td></td></tr>
                      <tr><td class="error">Passwort: *</td><td><input type="password" name="passwort" size="40" class="error long"></td></tr>
                      <tr><td class="error">Passwort best&auml;ttigen: *</td><td><input type="password" name="passwort2" size="40" class="error long"></td></tr>
                	  <tr><td>&nbsp;</td><td>* Pflichtfeld</td></tr>
                      <tr><td>&nbsp;</td><td></td></tr>
                      
                      <tr><td>Captcha:</td><td><img src="./index.php?module=register&action=captcha" alt="CAPTCHA image" align="top" /><input type="text" name="captcha" id="validator" size="4" /></td></tr>
                      <tr><td>&nbsp;</td><td></td></tr>
                      <tr><td></td><td><input class="btnSubmit" type="submit" name="submit" value="Registrieren" /></td></tr>
                    </table>
                </form>

            
             </div>
            <div class="grid_1 omega box"><img src="images/dummy2_grid1.jpg" width="188" height="188" class="borderGrey" /></div>
            <div class="clear"></div>

	    </div>
		<!-- end CONTENT -->
        
        <div class="grid_1">
            
      <div id="simpleForm">
                <H2>Suche</H2>
                <form action="" method="post" name="search"><table><tr><td><input name="search" type="text" /></td><td><input type="image" src="images/btn_los.gif" alt="Absenden"></td></tr></table></form>
                &nbsp;Weiter zur <a href="">erweiterten Suche</a>
            </div> 
            <!-- end SUCHE -->
            
      		<div id="simpleForm">
                <H2>Anmelden &amp; Mitmachen</H2>
                <form action="" method="post" name="login">
                <table><tr><td>E-Mail-Adresse:<br><input name="username" type="text" size="18" /></td><td></td></tr>
                <tr><td>Passwort:<br><input name="password" type="password" size="18" /></td><td valign="bottom"><input type="image" src="images/btn_los.gif" alt="Absenden"></td></tr></table>
                </form>
                <img src="images/simpleForm_arrow.gif" width="13" height="9" />&nbsp;Neu hier? <a href="">Zur Registrierung!</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" />&nbsp;<a href="">Passwort vergessen?</a>
            </div> 
            <!-- end LOGIN -->
            
            <div id="simpleForm">
                <H2>Mein Benutzerbereich</H2>
                
                <p>Angemeldet als:<br />
				Benedikt Sauter (<a href="">Abmelden</a>)</p>

                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Übersicht</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Stammdaten</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Artikel schreiben</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Spendenabo kaufen</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Stellenanzeige aufgeben</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Postbote werden</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Anzeige kaufen</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Jahressponsor werden</a><br  />
                <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="">Support</a><br  />
                
                <!-- begin ADMIN BEREICH -->
                <hr />
                <strong>Admin Bereich:</strong>
                <p>
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=archiv&action=upload">Archivausgaben hochladen</a><br />
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=image&action=list">Bilderupload</a><br />
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=kundenverwaltung&action=list">Kundenverwaltung</a><br />
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=block&action=list">Sperren</a><br />
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=rechnung&action=list">Journalversand-Export</a><br />
                
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=newsletterexport&action=list">Newsletter-Export</a><br />
                  <img src="images/simpleForm_arrow.gif" width="13" height="9" /> <a href="./index.php?module=options&action=list">Einstellungen</a>
                  </p>
				<!-- end ADMIN BEREICH -->
                
          </div> 
            <!-- end LOGGED IN -->
            
            <div class="container bgJournal">
            	<H1>Freie Dienste</H1>
           	      <ul>
                   <li><a href="">Firmendatenbank</a></li>
                   <li><a href="">Stellenmarkt</a></li>
                   <li><a href="">Flohmarkt</a></li>
                  </ul>
          </div>
            <!-- end FREIE DIENSTE -->
            
		<div id="simpleForm">
                <H2>Newsletter</H2>
                <form action="" method="post" name="newsletter"><table><tr><td><input name="newsletter" type="text" value="Ihre E-Mail-Adresse" /></td><td><input type="image" src="images/btn_los.gif" alt="Absenden"></td></tr></table>
                <table><tr><td><label>
                      <input type="radio" name="loginOption" value="signIn" id="loginOption_0" checked="checked" />
                      Eintragen</label></td><td>
    			      <label><input type="radio" name="loginOption" value="signOut" id="loginOption_1" />
                      Austragen</label></td></tr></table></form>
        </div>
        <!-- end NEWSLETTER -->
            
      <div id="teaser" class="bgJournal">
            	<H1 class="bgJournal">Aktuelle Ausgabe:</H1>
                <div id="teaserContent" class="borderJournal">
           	      <a href=""><img src="images/dummy_aktuelleAusgabe.jpg" width="150" height="212" alt="zur aktuellen Ausgabe" /></a>
					<br /><br />
                    <hr />
                    <img src="images/teaser_arrow.gif" width="13" height="9" /> <a href="">Einzelhefte zum Download</a>
					<hr />
                   <strong>Nächste Erscheinungstermine:</strong><br />
                    31. März 2011<br />
                    31. August 2011
				</div>
          </div>
            <!-- end TEASER -->
		</div>
		<!-- end RIGHT -->
        <div class="clear"></div>
        
        <div id="footer" class="grid_6">
          <ul>
          	<li><a href="index.php?module=content&action=show&page=kontakt">Kontakt</a></li>
     		<li><a href="index.php?module=content&action=show&page=agb">AGB und Kundeninfo</a></li>
    		<li><a href="index.php?module=content&action=show&page=datenschutz">Datenschutz</a></li>
    		<li><a href="index.php?module=content&action=show&page=zahlung">Zahlung und Lieferung</a></li>
    		<li><a href="index.php?module=content&action=show&page=widerruf">Widerruf</a></li>
    		<li><a href="index.php?module=content&action=show&page=batterie">Batterieentsorgung</a></li>
    		<li><a href="index.php?module=content&action=show&page=impressum">Impressum</a></li>
    		<li>© 2011 WaWision GmbH</li>
		  </ul>
		</div>
        <!-- end FOOTER -->
		<div class="clear"></div>

    </div>

</body>

</html>
