img.amazonimageprev {
    border:0;
    max-width:50px;
    max-height:50px;
}

table.sendarticlepopuptable > tbody >tr {
    vertical-align: bottom;
}

table#newoffertable tbody tr + tr td:nth-child(1),
table#searchresults tbody tr + tr td:nth-child(2) {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
div#searchresultsdiv {
    max-height: 250px;
    overflow-y: auto;
}
