
/* Labels
- - - - - - - - - - - - - - - - - - - - - - */
.dataTable .label-container {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.dataTable .label {
    display: inline-block;
    font-size: 90%;
    line-height: 1em;
    margin: 1px 0 1px 4px;
    padding: 3px 7px 2px 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    white-space: nowrap;
}

/* Label-Manager-Icon (in DataTable)
- - - - - - - - - - - - - - - - - - - - - - */
.dataTable .label-manager-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-image: url('../themes/new/images/label.svg');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

/* LiveTabelle im Modul
- - - - - - - - - - - - - - - - - - - - - - */
#datatablelabels_list .label-color-preview {
    display: inline-block;
    width: 14px;
    height: 14px;
}
