/*
 * SPDX-FileCopyrightText: 2023 Andreas Palm
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@import "basecomponent.css";
@import "autocomplete.css";
@import "dialog.css";
@import "dropdown.css";
@import "icons.css";
@import "listbox.css";

.p-component-overlay {
    background-color: rgba(170,170,170,0.7);
}

.p-button {
    background-color: var(--button-primary-background);
    padding: 6px;
    margin: 3px;
    color: white;
    border-radius: 3px;
    border: 1px solid var(--button-primary-border-color);
    font-size: 14px;
}

.p-icon {
    width: 1rem;
    height: 1rem;
}
