/*
 * SPDX-FileCopyrightText: 2023 Andreas Palm
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@layer primevue {
    .p-listbox-list-wrapper {
        overflow: auto;
    }
    .p-listbox-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .p-listbox-item {
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .p-listbox-item-group {
        cursor: auto;
    }
    .p-listbox-filter-container {
        position: relative;
    }
    .p-listbox-filter-icon {
        position: absolute;
        top: 50%;
        margin-top: -0.5rem;
    }
    .p-listbox-filter {
        width: 100%;
    }
}

.p-listbox {
    background: #ffffff;
    color: #6d6d6f;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.p-listbox .p-listbox-header {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #dee2e6;
    color: #212529;
    background: #efefef;
    margin: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.p-listbox .p-listbox-header .p-listbox-filter {
    padding-right: 1.75rem;
}
.p-listbox .p-listbox-header .p-listbox-filter-icon {
    right: 0.75rem;
    color: #495057;
}
.p-listbox .p-listbox-list {
    padding: 0.5rem 0;
    outline: 0 none;
}
.p-listbox .p-listbox-list .p-listbox-item {
    margin: 0;
    padding: 0.5rem 1.5rem;
    border: 0 none;
    color: #212529;
    transition: box-shadow 0.15s;
    border-radius: 0;
}
.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #ffffff;
    background: var(--green);
}
.p-listbox .p-listbox-list .p-listbox-item-group {
    margin: 0;
    padding: 0.75rem 1rem;
    color: #212529;
    background: #ffffff;
    font-weight: 600;
}
.p-listbox .p-listbox-list .p-listbox-empty-message {
    padding: 0.5rem 1.5rem;
    color: #212529;
    background: transparent;
}
.p-listbox:not(.p-disabled) .p-listbox-item.p-highlight.p-focus {
    background: var(--green);
}
.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: #212529;
    background: #dee2e6;
}
.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
    color: #212529;
    background: #e9ecef;
}
.p-listbox.p-focus {
    outline: 0 none;
    outline-offset: 0;
}
.p-listbox.p-invalid {
    border-color: #dc3545;
}